div.carousel {
  height: 400px;
  width: 500px;
}

div.carousel > .items {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.items li {
  list-style-type: none;
}

.items li > img {
  display: none;
}

.items li > *.active {
  display: block;
  position: absolute;
  left: 0%;
  transition: left 500ms linear;
}

.items li > img.active.left {
  left: 100%;
}
.items li > img.active.right {
  left: -100%;
}
