.tabs .active {
  font-weight: bold;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
  opacity: 1;
  transition: opacity 500ms linear;
}

.tab-pane.transitioning {
  display: block;
  opacity: 0;
  transition: opacity 500ms linear;
}
